.container {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.indicator-container {
    width: 100%;
    height: 8%;
    top: 92%;
    align-items: center;
    justify-content: center;
}

.indicator-dot {
    width: 20px;
    height: 10px;
    border-radius: 5px;
    margin: 0 4px;
}

.page {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #00ffcc;
    font-size: 28px;
    margin-bottom: 10px;
}

.value {
    color: #ffffff;
    font-size: 48px;
}

.unit {
    color: #888;
    font-size: 18px;
    margin-top: 4px;
}